.Menu {

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.MenuItems {
    width: 200px;
    margin: 20px;

    img{
        display: block;
        width: 200px;
        height: auto;
    }

    h3 {
        margin: 0px;
        background-color: white;
        padding: 5px 10px;
    }

}