.Nav {
    margin: 0px;
    text-align: center;

    .hamburger {
        position: absolute;
        right: 20px;
        top: 20px;

        &:hover {
            color: #991212;
        }
    }
    
    .links {
        position: absolute;
        right: 50px;
        top: 20px;

        a {
            color: black;
            text-decoration: none;
            text-align: center;
                
            display: block;
            padding: 10px;
            margin: 10px;
            border-radius: 25px;
            
            transition: all 0.5s;

            &.active {
                color: white;
                background-color: gray;
            }

            &:hover {
                color: white;
                background-color: gray;
            }
            
        }
    }


}

@media screen and (min-width: 900px) {
    .Nav {
        .hamburger {
            display: none;

        }
        .links{
            a {
                display: inline-block;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .Nav {
        .links{
            display: flex;
            justify-content: space-between;
        }
    }
}




