.Nav {
    background: rgb(143, 143, 143);
    padding: 20px;
    margin: 0px;
    text-align: center;

    .hamburger {
        position: absolute;
        right: 20px;
        top: 20px;

        &:hover {
            color: white
        }
    }
    
    .logo{
        display: none;
    }

    a {
        background-color: rgb(194, 194, 194);
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
        color: black;
        margin: 10px;
        display: block;

        &:hover {
            background-color: gray;
            color:white;
        }
    }

}

@media screen and (min-width: 600px) {

    .Nav {
    
        .hamburger {
            display: none;
        }
        .logo {
            display: none;
        }

        a {

            background-color: transparent;
            border-radius: none;
            text-decoration: none;
            color: black;
            margin: 10px;
            display: inline-block;

            &:hover {
                background-color: transparent;
            }
        }
    

    }

}

@media screen and (min-width: 800px) {

    .Nav {

        .logo {
            display: inline-block;
        }
        #links {
            text-align: left;
        }
        .alignright {
            float: right;
        }

        }
    }




