.Tabbed {
    margin: 50px;

    .tabs {
        display: flex;
        
        .tab {
            //background-color: #851d41;
            background-color: rgb(82, 82, 82);
            color: #540202;
            padding: 10px 20px;
            border-radius: 5px 5px 0px 0px;
            margin-right: 10px;

            &.active {
                background-color:rgb(134, 134, 134) ;
            }
            
        }
    }

    .content {
        // background-color: #851d41;
        background-color: rgb(134, 134, 134);
        border-radius: 0px 5px 5px 5px;
        padding: 20px;

        img { width: 25%; }
        h2 { color: #540202; }
        p { color: #540202; }

    }
}